/* we can use a single css file to style all the files in our wwebsite */

/* you can pick your own background colors, text colors, and fonts */

/* we can select an html element tag, in this case "body" will apply to the whole document */
body {
  background-color: #381111;
}

/* we can have rules apply to multiple elements at the same time with commas */
h1,h2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/* and we can have rules that overlap other rules, both take effect */
h1 {
  letter-spacing: 5px;
  word-spacing: 5px;
  font-size: 200%;
  text-indent: 475px;
  color: #381111;
}

/* the hashtag in a CSS selector selects an element by id, e.g., id="content" */
#content {
  margin: 10px;
  padding: 10px;
  border: solid 5px #4e1818;
  background-color: #742020;
}

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.major-section {
  display: inline-flex;
}

.minor-section {
  padding: 10px;
  margin-bottom: 10px;
  border: solid 5px #4e1818;
  background-color: #742020;
}
.top-section{
  border: dashed 5px #4e1818;
  width: 500px;
  margin: 10px;
  padding: 10px;
}
.blinkies{
  border: dashed 5px #4e1818;
  width: 420px;
  margin: 5px;
  padding: 10px;
  background-color: #1d0808;
}
.section-right {
  padding: 10px;
  margin-bottom: 10px;
  border: dashed 5px #4e1818;
  background-color: #1d0808;
  float: right;
  color: #742020;
  text-indent: 50px;
}
.bunnies {
  float: right;
}
.link-section {
  padding: 10px;
  margin-bottom: 10px;
  border: dashed 5px #4e1818;
  background-color: #1d0808;
  float: right;
  color: #742020;
}
h3 {
  font-size: 35px;
}
#my-portrait {
  width: 250px;
  border: dashed 5px #4e1818
}

#vinyl-gallery * {
  all: unset;
}

#vinyl-gallery {
  all: initial!important;
  width: 100%!important;
  height: 230px!important;
  margin: 30px 0!important;
  display: flex!important;
  flex-direction: row!important;
  position: relative!important;
  margin-left: -6px!important;
}

#vinyl-gallery .vinyl {
    all:unset!important;
  perspective: 500px !important;
  width: 18px!important;
  transition: width 0.5s!important;
}

#vinyl-gallery .vinyl:hover {
  width: 148px!important;
}

#vinyl-gallery img {
    all:unset!important;
  transition: transform 0.5s, width 0.5s, height 0.5s, margin-top 0.5s!important;
  width: 180px!important;
  height: 180px!important;
  transform: rotateX(0deg) rotateY(25deg)!important;
  transform-style: preserve-3d!important;
  border-radius: 4px!important;
  border: 2px solid rgba(0, 0, 0, 0.1)!important;
object-fit: cover!important;
}

#vinyl-gallery .vinyl:hover img {
  transform: rotateX(0deg) rotateY(10deg)!important;
  width: 188px!important;
  height: 188px!important;
  margin-top: -2px!important;
}

#vinyl-gallery .title {
  color: #000000;
  display: block;
  visibility: hidden;
  position: absolute;
  bottom: 0px;
  text-align: center;
  width: 100%;
  padding-left: 6px;
}

#vinyl-gallery .vinyl:nth-child(n):hover + .title {
  visibility: visible;
}
