h1 {
    color: #742020;
}
body {
    background-color: #381111;
}
.minor-section {
    padding: 10px;
    border: dashed 5px #4e1818;
    margin-bottom: 10px;
    background-color: #742020;
}
#output {
     padding: 10px;
    border: dashed 5px #4e1818;
    margin-bottom: 10px;
    background-color: #742020; 
}