/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: dotted 5px #381111;
    border-radius: 5px;
    background-color: #a82f2f;
    font-family: Georgia, 'Times New Roman', Times, serif
  }
  h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #270b0b;
  }
  h2 {
    color: #270b0b;
  }
  p {
    color: #381111
  }